In [9]:
#!pip install dbdpy
#!pip install dbfread
#!pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ymnl_\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ymnl_\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ymnl_\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ----------- ---------------------------- 3.4/11.6 MB 22.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 32.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 18.7 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 15.0 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 13.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.2 tzdata-2024.1

In [10]:
import os
import pandas as pd
from dbfread import DBF

In [57]:
#Especificamos la ruta de los archivos DFB
CARPETA_PALTA = "D:/Proyectos/Palta/Datos"

#creamos una lista en donde se van a almacenar los dataframes
dataframes = []

for archivo in os.listdir(CARPETA_PALTA):
    if archivo.endswith(".DBF"):
        # Leemos el archivo
        rutaArchivo = os.path.join(CARPETA_PALTA, archivo)        
        tabla = DBF(rutaArchivo, encoding="latin1")
        df = pd.DataFrame(iter(tabla))
        dataframes.append(df)

# Concatenamos todos los Dataframes en uno solo
df_concatenado = pd.concat(dataframes, ignore_index=True)

# Convertimos la columna 'FECHA' a texto
df_concatenado['FECHA'] = df_concatenado['FECHA'].astype(str)

# Creamos la lista de posiciones que queremos cambiar
posiciones = [4, 6]

# Creamos una función para insertar una misma letra en posiciones específicas
def insertar_letras(valor, letra, posiciones):
    for posicion in sorted(posiciones, reverse=True):
        valor = valor[:posicion] + letra + valor[posicion:]
    return valor

# Aplicamos la función a la columna del dataframe
df_concatenado['FECHA_MOD'] = df_concatenado['FECHA'].apply(lambda x: insertar_letras(x, "/", posiciones))
df_concatenado['FECHA_MOD_FER'] = pd.to_datetime(df_concatenado["FECHA_MOD"], format = "%Y/%m/%d")

print(df_concatenado)

              CNAN                              DESCRIP     FECHA CADUANA  \
0       0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20240419     046
1       0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20240629     055
2       0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20240613     082
3       0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20240613     082
4       0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20240621     055
...            ...                                  ...       ...     ...
119287  0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20010617     118
119288  0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20010608     118
119289  0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20010429     118
119290  0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20010522     118
119291  0804400000  AGUACATES (PALTAS)  FRESCOS O SECOS  20010714     235

                     ADUA_DESC CPAIS               PAIS_DESC  FOB_DOLPOL  \
0                        PAITA    1B  ZONAS FRANCAS DEL PERU         128
1                     CHICLAYO    CA                  CANADA       37440
2                    SALAVERRY    CA                  CANADA       29299
3                    SALAVERRY    CA                  CANADA       32820
4                     CHICLAYO    CA                  CANADA       37440
...                        ...   ...                     ...         ...
119287     MARITIMA DEL CALLAO    NL             NETHERLANDS       35112
119288     MARITIMA DEL CALLAO    NL             NETHERLANDS       30408
119289     MARITIMA DEL CALLAO    NL             NETHERLANDS       22275
119290     MARITIMA DEL CALLAO    NL             NETHERLANDS       11492
119291  AEREA Y POSTAL EX-IAAC    US           UNITED STATES           4

        PESO_NETO  PESO_BRUTO  ...            VIAT_DESC  CAGE  \
0             300         300  ...  CARRETERA/TERRESTRE  7800
1           21228       23000  ...             MARITIMO  7620
2           21696       24020  ...             MARITIMO  7558
3           21696       24020  ...             MARITIMO  7558
4           21228       23000  ...             MARITIMO  7620
...           ...         ...  ...                  ...   ...
119287      20566       24170  ...             MARITIMO  0091
119288      17810       20370  ...             MARITIMO  0091
119289      18120       18550  ...             MARITIMO  0091
119290      14360       16140  ...             MARITIMO  0091
119291          4           5  ...                AEREA  6356

                                       CAGE_DESC CEMPTRA  \
0                        MACROMAR ADUANAS S.A.C.
1       TRANSITARIO INTERNACIONAL MULTIMODAL SAC    5030
2            DESPACHOS ADUANEROS CHAVIMOCHIC SAC    5061
3            DESPACHOS ADUANEROS CHAVIMOCHIC SAC    5061
4       TRANSITARIO INTERNACIONAL MULTIMODAL SAC    5030
...                                          ...     ...
119287                     AGENCIAS RANSA S.A.C.    0217
119288                     AGENCIAS RANSA S.A.C.    0217
119289                     AGENCIAS RANSA S.A.C.    1522
119290                     AGENCIAS RANSA S.A.C.    7770
119291  SALINAS & CASARETTO AGNTS.ASOC.ADUANA SA      KL

                                               CEMPT_DESC CADUMANIF ANN_MANIF  \
0       TRANSPORTADORA BINACIONAL SOC. DE RESPONSABILI...        00
1                    PABLO LARA REYES (PERMISO OCASIONAL)       046      2024
2           CARLOS RODRIGUEZ CARRASCO (PERMISO OCASIONAL)       046      2024
3           CARLOS RODRIGUEZ CARRASCO (PERMISO OCASIONAL)       046      2024
4                    PABLO LARA REYES (PERMISO OCASIONAL)       046      2024
...                                                   ...       ...       ...
119287                        EMPRESA TRANS CASTRO S.R.L.
119288                        EMPRESA TRANS CASTRO S.R.L.
119289                            MABEED EXPRESS E.I.R.L.
119290
119291

       NUM_MANIF   FECHA_MOD  FECHA_MOD_FER
0                 2024/04/19     2024-04-19
1            381  2024/06/29     2024-06-29
2            352  2024/06/13     2024-06-13
3            352  2024/06/13     2024-06-13
4            362  2024/06/21     2024-06-21
...          ...         ...            ...
119287            2001/06/17     2001-06-17
119288            2001/06/08     2001-06-08
119289            2001/04/29     2001-04-29
119290            2001/05/22     2001-05-22
119291            2001/07/14     2001-07-14

[119292 rows x 35 columns]

In [42]:
df_concatenado.describe()

,FECHA,FOB_DOLPOL,PESO_NETO,PESO_BRUTO,UNID_FIQTY,FEC_NUM,FEC_REG
count,1.192920e+05,119292.000000,119292.000000,119292.000000,119292.000000,1.192920e+05,1.192920e+05
mean,2.016370e+07,38375.111416,20254.040933,22383.803541,20254.319376,2.016368e+07,1.986674e+07
std,4.108077e+04,18572.379470,7558.885325,8604.683803,7559.047782,4.108032e+04,2.426548e+06
min,2.001013e+07,0.000000,0.000000,0.000000,0.000000,2.001013e+07,0.000000e+00
25%,2.014063e+07,26936.000000,20400.000000,22620.000000,20400.000000,2.014062e+07,2.014070e+07
50%,2.017070e+07,38696.000000,21120.000000,23731.000000,21120.000000,2.017063e+07,2.017070e+07
75%,2.019061e+07,48713.000000,22080.000000,24420.000000,22080.000000,2.019060e+07,2.019061e+07
max,2.024090e+07,376596.000000,248976.000000,718272.000000,248976.000000,2.024090e+07,2.024091e+07

In [39]:
#Análisis para Limpieza de datos
"""#FrecuenciaTexto
frecuencia = df_concatenado["DESC_COM"].value_counts()
#Porcentaje de texto
porcentajeDeFrecuencia = (frecuencia / frecuencia.sum())*100

#Creamos un dataframe con los resultados
resultados = pd.DataFrame({"frecuencia": frecuencia, "Porcentaje": porcentajeDeFrecuencia} )
#Calculamos el porcentaje acumulado
resultados["Porcentaje acumulado"] = resultados["Porcentaje"].cumsum()
#Filtramos los que llegan al 80%

resultados= resultados[resultados["Porcentaje acumulado"]>80]
print(resultados)"""

'#FrecuenciaTexto\nfrecuencia = df_concatenado["DESC_COM"].value_counts()\n#Porcentaje de texto\nporcentajeDeFrecuencia = (frecuencia / frecuencia.sum())*100\n\n#Creamos un dataframe con los resultados\nresultados = pd.DataFrame({"frecuencia": frecuencia, "Porcentaje": porcentajeDeFrecuencia} )\n#Calculamos el porcentaje acumulado\nresultados["Porcentaje acumulado"] = resultados["Porcentaje"].cumsum()\n#Filtramos los que llegan al 80%\n\nresultados= resultados[resultados["Porcentaje acumulado"]>80]\nprint(resultados)'

In [31]:
df["DESC_COM"].unique

<bound method Series.unique of 0                PALTAS FRESCAS
1      PULPA DE PALTA CONGELADA
2                PALTAS FRESCAS
3           PALTAS REFRIGERADAS
4           PALTAS REFRIGERADAS
                 ...
99          PALTAS REFRIGERADAS
100         PALTAS REFRIGERADAS
101         PALTAS REFRIGERADAS
102         PALTAS REFRIGERADAS
103              PALTOS FRESCOS
Name: DESC_COM, Length: 104, dtype: object>